.container {
  width: $width-mobile;
  margin: 0 auto;
  padding-right: $width-mobile-padding;
  padding-left: $width-mobile-padding;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
    padding-right: $width-tablet-padding;
    padding-left: $width-tablet-padding;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: $width-desktop-padding;
    padding-left: $width-desktop-padding;
  }
}
