.container {
  @include outline(3px, dotted, rgb(108, 18, 224));
  width: $width-mobile;
  margin-right: auto;
  margin-left: auto;
  padding-right: $width-mobile-padding;
  padding-left: $width-mobile-padding;

  @media (min-width: $width-tablet) {
    width: $width-tablet;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop;
    padding-right: $width-desktop-padding;
    padding-left: $width-desktop-padding;
  }
}
