//* SCSS: импорт математических функций
@use "sass:math";

.fieldset {
  position: relative;
  padding: 0;
  border: none;

  @media (min-width: $width-desktop) {
    //* SCSS: Использование математических функций (деление)
    width: math.div($width-desktop-content, 2) - 35px;
  }

  // &--fio {}
  // &--contacts {}
  // &--comments {}

  &--achievement {
    @media (max-width: $width-max-mobile) {
      background-color: $color-canvas;
    }
  }

  &--application {
    @media (max-width: $width-max-mobile) {
      background-color: $color-canvas;
    }
  }

  &--fullwidth {
    @media (min-width: $width-desktop) {
      width: 100%;
    }
  }
}

:not(.fieldset--fio).fieldset {
  @media (min-width: $width-tablet) {
    outline: 2px solid $color-gray--e5;
    border-radius: 2px;
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $width-desktop) {
    padding-left: 62px;
    padding-right: 62px;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $width-max-mobile) {
    width: $width-mobile;
    margin-left: auto;
    margin-right: auto;
    padding-left: $width-mobile-padding;
    padding-right: $width-mobile-padding;
  }

  .fieldset--achievement & {
    @media (min-width: $width-desktop) {
      display: grid;
      column-gap: 54px;
      row-gap: 43px;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(2, 1fr);
      grid-auto-flow: column;
    }
  }
}

.fieldset__topic {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: $color-secondary;
  text-transform: uppercase;

  //* SCSS: Устанавливаю падинги для заголовков некоторых фиелдсетов.
  // Тех, которые по макету должны находиться в его пределах (под верхней границей).
  // А поскольку <legend> так себе позиционируется, а по умолчанию он НА границе фиелдсета
  // я ему добавляю необходимые по макету падинги и наследую фон родителя <fieldset>.
  // Т.о. имитирую цельность блока фиелдсета.

  @each $postfix,
  $val01,
  $val02 in (--achievement, 38px, 38px),
  (--application, 38px, 34px) {
    .fieldset#{$postfix} & {
      @media (max-width: $width-max-mobile) {
        background-color: inherit;
        padding: $val01 calc((100vw - $width-mobile-content) / 2) $val02;
      }
    }
  }

  // #region *** native CSS ***

  // .fieldset--achievement & {
  //   @media (max-width: $width-max-mobile) {
  //     background-color: inherit;
  //     padding: 38px calc((100vw - $width-mobile-content) / 2);
  //   }
  // }

  // .fieldset--application & {
  //   @media (max-width: $width-max-mobile) {
  //     background-color: inherit;
  //     padding: 38px calc((100vw - $width-mobile-content) / 2) 34px;
  //   }
  // }

  // #endregion

  @media (max-width: $width-max-mobile) {
    width: 100%;
  }

  @media (min-width: $width-tablet) {
    position: relative;
    background-color: $color-white;
    width: fit-content;
    padding: 0 35px;
    margin-left: auto;
    margin-right: auto;
    top: -10px;
  }

  .fieldset--contacts & {
    @media (max-width: $width-max-mobile) {
      display: none;
    }
  }

  & br {
    @media (min-width: $width-tablet) {
      display: none;
    }
  }
}
