.field {
  display: flex;
  line-height: 30px;

  &--input {
    flex-direction: column;
    row-gap: 6px;

    @media (min-width: $width-tablet) {
      row-gap: 12px;
    }
  }

  // &--select {}

  // Модифицирует поле в 1-строчное при tablet+ вьюпорте
  &--onerow {
    @media (min-width: $width-tablet) {
      flex-direction: inherit;
      align-items: center;
      column-gap: 20px;
    }
  }

  // Меняет местами label и input в 2-строчном поле при tablet+ вьюпорте
  &--reverse {
    @media (min-width: $width-tablet) {
      flex-direction: column-reverse;
    }
  }
}

// LABEL FOR INPUT

.field__name {
  // Label для текстовых полей
  .field--input & {
    padding-left: 21px;
    color: $color-secondary;
    text-transform: uppercase;
  }

  .field--onerow & {
    @media (min-width: $width-tablet) {
      padding-left: 0;
    }
  }

  // Label для селектов
  .field--select & {
    display: grid;
    width: 100%;
    grid-auto-flow: column;
    align-items: center;
    font-size: 18px;

    // Общие стили для селектов всех вариантов
    &::before {
      content: "";
      grid-column: 1/2;
      grid-row: 1/2;
      outline: 2px solid $color-gray--e5;
      outline-offset: -2px;
    }
  }

  //* Активные состояния для всех селектов
  // Выделяем label.field__name::before
  .field--select:hover &::before {
    outline-color: $color-primary;
  }

  .field--select:active &::before {
    outline-color: $color-secondary;
  }

  //* SCSS: Пробуем множественную директиву @each и условный оператор @if
  // Задаем размеры грид-сетки для селектов (__radio, __checkbox)
  // Формируем элементы селект-полей через псевдоэлементы

  $fields: __radio 41px 29px, __checkbox 39px 20px;

  @each $type, $value, $gap in $fields {
    .field#{$type} + & {
      grid-template-columns: $value 1fr;
      column-gap: $gap;

      @if $type ==__radio {
        @media (min-width: $width-tablet) {
          column-gap: 20px;
        }
      }
    }

    .field#{$type} + &::before {
      width: $value;
      height: $value;

      @if $type ==__radio {
        border-radius: 50%;
      }
    }
  }

  // #region *** native CSS ***

  // .field__radio + & {
  //   grid-template-columns: 41px 1fr;
  //   column-gap: 29px;

  //   @media (min-width: $width-tablet) {
  //     column-gap: 20px;
  //   }

  //   &::before {
  //     width: 41px;
  //     height: 41px;
  //     border-radius: 50%;
  //   }
  // }

  // .field__checkbox + & {
  //   grid-template-columns: 39px 1fr;
  //   column-gap: 20px;

  //   &::before {
  //     width: 39px;
  //     height: 39px;
  //   }
  // }

  // #endregion

  .field__radio + &::after {
    display: none;
    content: "";
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $color-secondary;
  }

  // #region Фишка - при hover и active внутри select появляется полупрозрачная метка выбора
  // Но выглядит в данном случае так себе, поэтому – комментим.

  // .field--select:hover .field__radio + &::after {
  //   display: unset;
  //   background-color: rgba($color-primary, $opacity);
  // }

  // .field--select:active .field__radio + &::after {
  //   display: unset;
  //   background-color: rgba($color-secondary, $opacity);
  // }

  // #endregion

  .field__radio:checked + &::after {
    display: unset;
  }

  .field__checkbox:checked + &::after {
    content: "";
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    width: 22px;
    height: 22px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='16' fill='none'%3E%3Cpath fill='%23D22856' d='M21.7.28a1.02 1.02 0 0 0-1.42 0L6.7 13.6 1.73 8.73a1.02 1.02 0 0 0-1.1-.22.99.99 0 0 0-.33 1.62l5.68 5.58a1.02 1.02 0 0 0 .72.29c.27 0 .52-.1.71-.29L21.7 1.7A1 1 0 0 0 22 1a.98.98 0 0 0-.3-.72Z'/%3E%3C/svg%3E")
      no-repeat center;
  }

  .field__checkbox:focus + &::before,
  .field__radio:focus + &::before {
    outline-color: $color-primary;
  }
}

// Общие правила: Input: radio & checkbox

.field__radio,
.field__checkbox {
  position: absolute;
  margin: 0;
  opacity: 0;
}

// Input - radio

.field__radio {
  width: 41px;
  height: 41px;
}

// Input - checkbox

.field__checkbox {
  width: 39px;
  height: 39px;
}

// Input – text

.field__input {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  font-family: inherit;
  border: none;
  outline: 2px solid $color-gray--e5;
  border-radius: 2px;
  padding: 14px 20px 15px 20px;

  &::placeholder {
    color: $color-primary;
    opacity: 1;
  }

  &:hover {
    outline-color: $color-primary;
  }

  &:focus {
    outline: 2px solid $color-primary;
  }

  &:active {
    outline-color: $color-secondary;
  }
}

// Textarea

.field__textarea {
  display: block;
  margin: 0 auto;
  border: none;
  outline: 2px solid $color-gray--e5;
  border-radius: 1px;
  resize: none;

  @media (max-width: $width-max-mobile) {
    width: $width-mobile-content;
    height: 197px;
    padding: 14px 20px;
  }

  @media (min-width: $width-tablet) {
    height: 189px;
  }

  @media (min-width: $width-desktop) {
    height: 124px;
  }
}

// ICO
.field__ico {
  @media (min-width: $width-tablet) {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      right: 0;
      top: 0;
      width: 59px;
      height: 59px;
      background-color: $color-gray--e5;
      background-repeat: no-repeat;
      background-position: center;
    }

    &--phone::after {
      // background-image: url("../img/ico/phone.svg");
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='19' fill='none'%3E%3Cpath fill='%23d22856' d='M10.04 0C6.465 0 2.908.608 1.583 1.815a6.392 6.392 0 0 0-1.58 3.892c-.003.055-.003.11 0 .164 0 .21.088.412.245.56a.86.86 0 0 0 .591.232l3.24-.25h.082a.865.865 0 0 0 .581-.237.78.78 0 0 0 .176-.256.746.746 0 0 0 .059-.3V4.046a.83.83 0 0 1 .067-.335.867.867 0 0 1 .198-.286.922.922 0 0 1 .299-.19.961.961 0 0 1 .353-.068h8.153c.246 0 .482.093.656.258a.856.856 0 0 1 .271.621v1.555a.77.77 0 0 0 .238.553c.152.148.36.234.578.239h.091l3.282.251a.876.876 0 0 0 .59-.232.79.79 0 0 0 .182-.257.756.756 0 0 0 .064-.303 1.45 1.45 0 0 0 0-.164 6.455 6.455 0 0 0-1.56-3.863C17.195.608 13.618 0 10.041 0Zm0 10.304c-.33 0-.653.093-.928.267-.275.174-.489.421-.615.71-.127.29-.16.608-.095.916.064.307.223.59.457.81.234.222.531.373.856.434.324.061.66.03.965-.09.306-.12.567-.323.75-.583a1.526 1.526 0 0 0-.204-2.003 1.669 1.669 0 0 0-.544-.343 1.742 1.742 0 0 0-.641-.118ZM8.788 6.76v-.966a.94.94 0 0 0-.298-.683 1.048 1.048 0 0 0-.72-.283c-.271 0-.53.102-.722.283a.94.94 0 0 0-.298.683v.966l-5.728 5.688a1.932 1.932 0 0 0-.471.647 1.843 1.843 0 0 0-.16.772v1.584c0 .421.175.825.488 1.123a1.73 1.73 0 0 0 1.183.47h.418v.966c0 .13.027.259.08.379.052.12.129.23.226.321.097.092.212.165.339.215a1.096 1.096 0 0 0 1.138-.215.988.988 0 0 0 .227-.321.945.945 0 0 0 .079-.379v-.966h10.905v.966c0 .263.11.514.306.7.196.186.461.29.738.29.277 0 .543-.104.739-.29a.964.964 0 0 0 .306-.7v-.966h.418c.22 0 .438-.04.642-.121.203-.08.388-.198.543-.346a1.58 1.58 0 0 0 .362-.517c.083-.193.125-.4.124-.609v-1.584a1.844 1.844 0 0 0-.155-.77 1.933 1.933 0 0 0-.466-.65L13.382 6.76v-.966a.964.964 0 0 0-.305-.7 1.075 1.075 0 0 0-.74-.29c-.276 0-.542.105-.738.29a.964.964 0 0 0-.306.7v.966H8.787Zm1.254 1.931c.66 0 1.307.186 1.857.534.55.348.978.843 1.231 1.422.253.578.32 1.215.19 1.83a3.12 3.12 0 0 1-.915 1.621 3.403 3.403 0 0 1-1.711.867c-.649.123-1.32.06-1.931-.18a3.312 3.312 0 0 1-1.5-1.167 3.05 3.05 0 0 1-.564-1.76c0-.84.352-1.645.98-2.239a3.439 3.439 0 0 1 2.363-.928Z'/%3E%3C/svg%3E%0A");
    }

    &--email::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' fill='none'%3E%3Cpath fill='%23d22856' d='M14.91 1.68c1.2-.928.91-1.68-.65-1.68H3.73c-1.56 0-1.85.761-.66 1.68l3.75 2.898c.621.45 1.387.696 2.175.696.788 0 1.554-.245 2.175-.696l3.74-2.897Z'/%3E%3Cpath fill='%23d22856' d='M11.91 6.5 9.7 8.246a1.13 1.13 0 0 1-.26.111l-.1.047c-.109.042-.223.07-.34.083l-.33-.056-.12-.074a1.183 1.183 0 0 1-.24-.13L6.08 6.5l-3.9-2.971C1 2.6 0 3.027 0 4.476v5.859c-.003.347.069.692.21 1.014.14.322.348.615.61.863.263.247.576.444.92.58A3.04 3.04 0 0 0 2.83 13h12.32c.376 0 .748-.07 1.095-.203.347-.134.662-.331.927-.579.265-.247.475-.541.617-.865.142-.323.214-.669.211-1.018v-5.86c0-1.448-1-1.856-2.18-.928L11.91 6.5Z'/%3E%3C/svg%3E");
    }
  }
}
