// .footer {}

.footer__content {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 40px 0;
  grid-template-rows: repeat(3, min-content);


  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-rows: initial;
  }

  @media (min-width: $width-desktop) {
    // padding: calc(71px - 6px) 0;
  }
}

.footer__logo,
.footer__copyright {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer__logo {

  @media (min-width: $width-tablet) {
    // Подравниваю логотип по базовой линии
    margin-top: -10px;
    justify-content: initial;
    align-items: initial;
  }
}

.footer__list {
  margin: 0;
}

.footer__copyright {

  @media (min-width: $width-tablet) {
    justify-content: right;
  }
}
