// .footer {}

.footer__content {
  display: grid;
  justify-items: center;
  align-items: center;
  padding: 40px 0;
  grid-template-rows: repeat(3, min-content);


  @media (min-width: $width-tablet) {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: initial;
    padding: 36px 0;
  }

  @media (min-width: $width-desktop) {
    padding: 71px 0;
  }
}

.footer__logo,
.footer__copyright {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer__logo {

  //
  @media (max-width: $width-max-mobile) {
    margin-bottom: 38px;
  }

  @media (min-width: $width-tablet) {
    // Подравниваю логотип по базовой линии
    margin-top: -10px;
    justify-content: initial;
    align-items: initial;
  }
}

.footer__list {
  margin: 0;
}

.footer__copyright {
  @media (max-width: $width-max-mobile) {
    margin-top: 38px;
  }

  @media (min-width: $width-tablet) {
    justify-content: right;
  }
}
