.form-button {
  display: block;
  width: 100%;
  border: 0;
  padding: 17px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 30px;
  color: $color-white;
  background-color: $color-form_button;
  border-radius: 4px;
  outline: 2px solid $color-form_button;
  outline-offset: -2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    cursor: pointer;
    background-color: $color-form_button--hover;
    outline-color: $color-form_button--hover;
  }

  &:active {
    color: rgba($color-white, $opacity);
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
  }

  &--sendform {
    max-width: 300px;
  }
}
