.header {
  // Если установитб 100vw - в браузере появляется горизонтальная прокрутка
  width: 100%;
  background-color: rgba($color-black, 0.3);

  &--active {
    @media (max-width: ($width-desktop - 1)) {
      background-color: $color-primary;
    }
  }

  &--nojs {
    @media (max-width: ($width-desktop - 1)) {
      position: initial;
      background-color: $color-primary;
    }
  }
}
