.header {
  // !DEV
  position: absolute;
  display: grid;
  grid-template-columns: 1fr $width-mobile-content 1fr;
  column-gap: $width-mobile-padding;
  width: 100vw;
  background-color: rgba($color-black, 0.3);

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr $width-tablet-content 1fr;
    // grid-template-columns: 1fr $width-tablet-adaptive 1fr;
    column-gap: $width-tablet-padding;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr $width-desktop-content 1fr;
    column-gap: $width-desktop-padding;
  }

  &--active {
    @media (max-width: ($width-desktop - 1)) {
        background-color: $color-primary;
      }
    }
  }

  .header__nav {
    grid-column: 2/3;
  }
