.logo {
  display: flex;

  &:not(:link) {
    pointer-events: none;
  }

  // #region - DEVNOTE!
  // * Логотипы размещены как svg-файлы в группе picture, которые меняются в зависимости от вьюпорта.
  // * Чтобы менять их цвет в активных состояниях использую функционал свойства filter.
  // * Перед тем как изменить отфильтровать цвет на необходимый, за точку отсчета берут черный -
  // * т.е. изначально логотип делают черным: rightness(0) saturate(100%)
  // * а потом уже к нему применяют функции, устанавливая нужный цвет.
  // #endregion

  &:hover {
    filter: brightness(0) saturate(100%) invert(24%) sepia(48%) saturate(4325%) hue-rotate(328deg) brightness(86%) contrast(91%);
  }

  &--header {
    padding: 20px;
  }

  &--header:active {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(116deg) brightness(103%) contrast(105%) opacity(30%);
  }

  &--footer:active {
    filter: opacity(30%);
  }
}

.logo__image {
  display: block;

  @media (min-width: $width-tablet) {
    width: 145px;
  }

  @media (min-width: $width-desktop) {
    width: 147px;
  }
}
