.nav {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (min-width: $width-desktop) {
    justify-content: space-between;
    flex-direction: row;
  }
}

.nav__top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 66px;
  align-items: center;

  @media (min-width: $width-tablet) {
    height: 110px;
  }

  @media (min-width: $width-desktop) {
    width: fit-content;
    // Чтобы лого слева не сужалось при переполнении меню справа.
    flex-shrink: 0;
  }
}

.nav__logo {

  // #region -- DEVNOTE
  // Поскольку размеры планшетного и десктопного логотипов отличаются
  // от мобильного, то при установленном вертикальном центрировании
  // он смещается относительно кнопки (в планшете) и меню (на десктопе).
  // А по макету у нас позиция нижнего края логотипа остается стационарной.
  // Отрицательным врехним отступом выравниванием нижний край лого.
  // #endregion
  @media (min-width: $width-tablet) {
    margin-top: -9px;
  }
}

// #region DEVNOTE
//* В мобильной и планшетной версии позиционируем абсолютно,
//* чтобы пункты меню растягивались на всю ширину вьюпорта
//* и вся область пункта была кликабельна.
// #endregion

.nav__list {
  position: absolute;
  left: 0;
  right: 0;
  // 66px - мобильная высота nav__top (верхний навбар)
  top: 66px;
  display: none;
  // display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: $color-primary;
  list-style-type: none;


  @media (min-width: $width-tablet) {
    // 110px - планшетная высота nav__top (верхний навбар)
    top: 110px;
  }

  @media (min-width: $width-desktop) {
    position: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    margin-right: -40px;
    padding: 22px 0 16px;
    background-color: transparent;
  }
}

.nav__item {
  position: relative;
  display: flex;
  align-items: flex-start;

  @media (max-width: ($width-desktop - 1)) {

    // #region - DEVNOTE
    //* Двойную линию над пунктами меню оформляем 2-мя псевдоэлементами
    //* 3-ю линию, подчеркивающую последний пункт, оформляем свойством "box-shadow"
    // #endregion

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
    }

    &::before {
      top: 1px;
      background-color: rgba($color-white, 0.15);
    }

    &::after {
      background-color: $color-black;
    }

    &:last-of-type {
      box-shadow: 0 1px 0 $color-black;
    }
  }
}

.nav__link {
  width: 100%;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  padding: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;

  @media (min-width: $width-desktop) {
    font-weight: 400;
    padding: 20px 40px;
    text-transform: initial;
  }

  &:hover {
    color: $color-secondary;
  }

  &:active {
    color: rgba($color-white, $opacity);
  }

  // Правила для активной (текущей) страницы:
  // Ссылки не вырезаем и все такое прочее, а просто отключаем событи при наведении мыши

  &--current {
    position: relative;
    pointer-events: none;

    // Выделение активного пункта меню мобилке-планшете.
    @media (max-width: ($width-desktop - 1)) {
      color: rgba($color-white, 0.3);
    }

    // Выделение активного пункта меню в десктопе.
    @media (min-width: ($width-desktop)) {
      &::after {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 40px;
        right: 40px;
        height: 2px;
        background-color: $color-white;
      }
    }
  }
}

// "Бургер" меню

.nav__toggler {
  border: none;
  padding: 0;
  height: 66px;
  margin-right: -20px;
  background-color: $color-white;

  @media (min-width: $width-desktop) {
    display: none;
  }

  &:hover {
    cursor: pointer;
    background-color: $color-secondary;
  }

  &:active {
    background-color: rgba($color-secondary, $opacity);
  }

  &--close {
    width: 63px;
    mask: url("../img/ico/btn-menu-close.svg") no-repeat center;
  }

  &--open {
    width: 90px;
    mask: url("../img/ico/btn-menu-open.svg") no-repeat center;
  }
}
