// <html class="page">

.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-body;
}

.page__body {
  //* Sticky footer
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}

.page__header,
.page__main,
.page__footer {
  margin: 0 auto;
}
