// <html class="page">

.page {
  min-width: 320px;
  height: 100%;
  font-family: $font-body;
  font-size: 14px;
  color: $color-primary;
}

// Оформляю секцию как грид-сетку [ 1fr $width 1fr ] с адативной центральной ячейкой
.page__header,
.page__footer {
  @include adaptiveframe();
}

// По макету меню хедера полупрозрачное и под ним HERO блок
.page__header {
  position: absolute;
}

// Позиционирование контентых блоков хедера и футера в центральной ячейке родительских секций.
.page__nav,
.page__footer-content {
  grid-column: 2/3;
}

// as sticky footer
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}

.page__title {
  max-width: $width-mobile-content;
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $width-tablet) {
    max-width: $width-tablet-content;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $width-desktop) {
    max-width: $width-desktop-content;
    font-size: 50px;
    line-height: 68px;
  }
}
