.rates {
  @include slopedTopBorder(19px, 41px, 100px);
  padding-top: 101px;
  padding-bottom: 46px;
  background-color: $color-canvas;
  overflow: hidden;

  @media (min-width: $width-tablet) {
    padding: 98px 0 68px;
  }

  @media (min-width: $width-desktop) {
    padding: 157px 0 96px;
  }
}

.rates__table-wrapper {
  @media (max-width: $width-max-mobile) {
    margin: 0 auto;
    width: 100vw;
    overflow: hidden;
  }
}

.rates__table {
  margin: 0 auto;
  border-collapse: collapse;
  line-height: 30px;

  // * Переменные для слайдера
  // Всего (тарифных планов) колонок в таблице
  --total-columns: 4;
  // Текущая (активная) колонка в слайдере тарифов
  --index-column: 2;

  @media (max-width: $width-max-mobile) {
    width: auto;
    // Расчет величины маргина для смещения таблицы в сладйере
    margin-left: calc(-1 * (280px * var(--index-column) - $width-mobile-padding));
    transition: all 0.1s;
    //* Костыль для восстановления заливки крайней левого столбца
    // Заливаем фоном ВСЮ таблицу, чтобы и левый крайний столбец также стал белым.
    // и ограничиваем заливку только контентной областью таблицы,
    // т.е. минус место под бордером, а иначе появляется белая окантовка.
    background-color: $color-white;
    background-clip: content-box;
  }

  @media (min-width: $width-tablet) {
    width: $width-tablet-content;
  }

  @media (min-width: $width-desktop) {
    width: $width-desktop-content;
  }
}

// .rates__thead {}

.rates__tbody {
  background-color: $color-white;
}

// Расчитываем ширины колонок в зависимости от их количества
.rates__col {
  @media (max-width: $width-max-mobile) {
    min-width: $width-mobile-content;
  }

  @media (min-width: $width-tablet) {
    width: calc($width-tablet-content / var(--total-columns));
    min-width: calc($width-tablet-content / var(--total-columns));
  }

  @media (min-width: $width-desktop) {
    width: calc($width-desktop-content / var(--total-columns));
    min-width: calc($width-desktop-content / var(--total-columns));
  }
}

// .rates__row {}

.rates__empty-cell {
  border: none;
  background-color: $color-canvas;
}

// Столбцы – заголовки
.rates__head-col {
  position: relative;
  padding: 10px 0 26px;
  background-color: $color-primary;
  border: 2px solid $color-primary;

  @media (min-width: $width-tablet) {
    padding: 10px 12px 7px;
  }

  @media (min-width: $width-desktop) {
    padding: 14px 12px 20px;
  }

  &:not(:last-of-type)::after {
    content: "";
    position: absolute;
    top: -2px;
    bottom: -2px;
    width: 2px;
    right: -2px;
    z-index: 1;
    background-color: $color-canvas;
  }

  // Текущий тариф (столбец) в мобильном слайдере
  &--active {
    @media (max-width: $width-max-mobile) {
      min-width: calc(100vw - 2 * $width-mobile-padding);
    }
  }
}

// Строки – заголовки
.rates__head-row {
  padding: 0;
  border: 2px solid $color-gray--e5;
  font-weight: 400;
  text-align: left;

  // Размещение (смещение) строчного заголовка в моблильном вьюпорте
  @media (max-width: $width-max-mobile) {
    position: relative;
    left: calc($width-mobile-content * var(--index-column));
    padding: 14px 61px 14px 21px;
    text-transform: uppercase;
  }

  @media (min-width: $width-tablet) {
    padding: 8px 17px 7px;
  }

  @media (min-width: $width-desktop) {
    padding: 14px 21px;
    font-size: 18px;
  }
}

// DL-cписок - тарифный план

.rates__item {
  margin: 0;
  color: $color-white;

  &--best::after {
    content: "";
    position: absolute;
    height: 0;
    transform: rotate(-45deg);
    border: 24px solid transparent;
    border-bottom-color: $color-secondary;
    z-index: 1;

    @media (max-width: $width-max-mobile) {
      width: 104px;
      left: -34px;
      top: -7px;
    }

    @media (min-width: $width-tablet) {
      width: 81px;
      left: -29px;
      top: -14px;
    }

    @media (min-width: $width-desktop) {
      width: 107px;
      left: -33px;
      top: -5px;
    }
  }

  &--best::before {
    content: "ХИТ";
    position: absolute;
    transform: rotate(-45deg);
    color: $color-white;
    font-weight: 400;
    z-index: 2;

    @media (max-width: $width-max-mobile) {
      left: 12px;
      top: 9px;
    }

    @media (min-width: $width-tablet) {
      left: 6px;
      top: 3px;
    }

    @media (min-width: $width-desktop) {
      left: 15px;
      top: 11px;
    }
  }
}

// Наименование тарифа

.rates__name {
  font-size: 16px;
  text-transform: uppercase;

  @media (min-width: $width-desktop) {
    font-size: 18px;
  }
}

// Стоимость тарифа

.rates__cost {
  font-size: 18px;
  font-weight: 300;
  margin: 0;
  margin-top: -2px;

  @media (min-width: $width-desktop) {
    font-size: 24px;
    margin-top: 0;
  }
}

// Ячейки таблицы

.rates__cell {
  border: 2px solid $color-gray--e5;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: $width-max-mobile) {
    background-position: calc(100% - 19px) center;
  }

  &--yes {
    background-image: url("../img/ico/yes.svg");
  }

  &--no {
    background-image: url("../img/ico/no.svg");
  }
}

// Баттоны слайдера

.rates__togglers {
  margin-top: 43px;

  @media (min-width: $width-tablet) {
    display: none;
  }
}
