.rates {
  background-color: $color-gray--f2;
  padding-top: 101px;
  padding-bottom: 46px;
}

// .visually-hidden {}

// .rates__table {}

// .rates__row {}

// .rates__header-cell {}

// .rates__term-list {}

// .rates__term {}

// .rates__desc {}

// .rates__cell {}

.rates__togglers {
  margin-top: 40px;

  @media (min-width: $width-tablet) {
    display: none;
  }
}
