// Шрифты проекта

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/pt-sans-v17-cyrillic-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-v17-cyrillic-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src:
    url("../fonts/pt-sans-v17-cyrillic-700.woff2") format("woff2"),
    url("../fonts/pt-sans-v17-cyrillic-700.woff") format("woff");
}
