// @include outline();

// Смена ширины контентной области в зависимости от ширины вьюпорпта
@mixin adaptiveframe() {
  display: grid;
  grid-template-columns: 1fr $width-mobile-content 1fr;
  column-gap: $width-mobile-padding;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr $width-tablet-content 1fr;
    // grid-template-columns: 1fr $width-tablet-adaptive 1fr;
    column-gap: $width-tablet-padding;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr $width-desktop-content 1fr;
    column-gap: $width-desktop-padding;
  }
}

// Скошеная верхняя граница

@mixin slopedTopBorder($height-mobile, $height-tablet, $height-desktop) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100vw;
    height: $height-mobile;
    background: linear-gradient(to right bottom, $color-white 50%, $color-gray--f2 50%);

    @media (min-width: $width-tablet) {
      height: $height-tablet;
    }

    @media (min-width: $width-desktop) {
      height: $height-desktop;
    }
  }
}

//* DEV
//* Бордер для орієнтування!
@mixin outline ($width: 1px, $style: dotted, $color: #0f99da, $offset: 0) {
  outline: {
    color: $color;
    width: $width;
    style: $style;
    offset: $offset;
  }
}

// * MY_PATTERN
// Оформление иконки с передачей цвета
// и прозрачности в качестве параметров

// @mixin icon-replay($color: "%235c6870", $opacity: "1") {
//   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='20' fill='none'%3E%3Cpath fill='#{$color}' fill-opacity='#{$opacity}' d='M8 4V0L3 5l5 5V6c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6H0c0 4.4 3.6 8 8 8s8-3.6 8-8-3.6-8-8-8Z'/%3E%3C/svg%3E");
// }
