/// Брекпоинты
$width-mobile: 320px;
$width-tablet: 660px;
$width-desktop: 1200px;

/// Ширина вьюпорта, при которой отключаем некоторые правила в мобильной версии
$width-max-mobile: (
  $width-tablet - 1
);

/// Отступы от краев вьюпорта
$width-mobile-padding: 20px;
$width-tablet-padding: 20px;
$width-desktop-padding: 130px;

/// Ширина контентных контейнеров
/// Мобильный контент = 280px
$width-mobile-content: (
  $width-mobile - 2 * $width-mobile-padding
);

/// Планшетный контент = 620px [Сетка: 2 * 300px + 20px]
$width-tablet-content: (
  $width-tablet - 2 * $width-tablet-padding
);

/// Десктопный контент = 940px [Сетка: 3 * 300px + 2 * 20px]
$width-desktop-content: (
  $width-desktop - 2 * $width-desktop-padding
);

/// Ширина при которой УЖЕ можно включать десктопную раскладку
/// (т.к. боковые паддинги довольно широкие)
$width-pre-desktop: (
  $width-desktop-content + 100px
);

// Расчет адаптивной ширины
$width-adaptive: calc(100vw - 2 * 130px);
$width-mobile-adaptive: calc(100vw - 2 * $width-mobile-padding);
$width-tablet-adaptive: calc(100vw - 2 * $width-tablet-padding);

/// Шрифты
$font-title: "Open Sans", "Verdana", sans-serif;
$font-body: "Open Sans", "Verdana", sans-serif;

/// Цвета

$color-gray--de: #dedede;
$color-gray--e5: #e5e5e5;
$color-gray--f2: #f2f2f2;
$color-black: #000000;
$color-white: #ffffff;
$color-primary: #283645;
$color-primary-dark: #1d2631;
$color-secondary: #d22856;
$color-canvas: $color-gray--f2;
$color-form_button: #2aab6d;
$color-form_button--hover: #1c9b5e;
$status-error: #ff5d5d;
$opacity: 0.3;
